/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$main-bg: #ebebeb;
$main-text: #424b54;
$accent-text: #e4e4e4;
$accent-bg: #9e0031;

html,
body {
  height: 100%;
  font-family: 'Recursive', sans-serif;
  font-weight: 600;
  background-color: $main-bg;
}

.app-header {
  position: absolute;
  width: 100%;
  top: 5vh;
  font-size: 3em;
  text-align: center;
  font-family: 'Bad Script', cursive;
}

.memo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  background-color: $main-bg;
  padding-top: 20vh;
  padding-bottom: 20vh;
  height: 100vh;
  padding-left: 20px;
  padding-right: 10px;
  margin: auto;
  overflow: scroll;
}

.memo-block-item {
  background-color: $main-bg;
  color: $main-text;
  height: 4.5em;
  min-height: 4.5em;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  -webkit-box-shadow: rgb(207, 207, 207) 7px 7px 10px;
  box-shadow: rgb(207, 207, 207) 7px 7px 10px;
  margin-right: 15px;
  width: 100%;
  z-index: 10;
  margin-bottom: 15px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
  grid-template-columns: 3fr 1fr;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  overflow: hidden;

  &:active {
    transform: scale(1.1);
    color: $main-bg;
    background-color: $main-text;
  }
}

.memo-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  padding-left: 15px;
  font-size: small;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: $accent-text;
  border-right: 1px solid rgb(207, 207, 207);
  border-radius: 10px;
}

.edit,
.remove {
  outline: none;
  width: 50%;
  border: 0px solid black;
  //padding: 0px 15px 0px 15px;
  background-color: $accent-text;
  &:active {
    filter: invert(80%);
  }
}

.edit {
  border-left: 0px solid transparent;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.remove {
  border-right: 0px solid transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.add-btn {
  outline: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
  border: 1px solid $main-text;
  border-radius: 50%;
  background-color: $main-text;
  color: $accent-text;
  -webkit-box-shadow: 0px 0px 30px 2px $main-text;
  box-shadow: 0px 0px 30px 2px $main-text;
  font-family: 'Recursive', sans-serif;
  font-weight: bold;
  -webkit-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  z-index: 20;

  &:active {
    background-color: $accent-text;
    color: $main-text;
    bottom: 15px;
    right: 15px;
    width: 90px;
    height: 90px;
  }
}
